.VPNavBar {
  .title {
    padding-left: 8px !important;
  }
  /* .vitepress/theme/custom.css */

  /* .content {
    padding-left: 0px !important;
  }  */
}
.VPSidebar {
  padding-left: 16px !important;
  width: calc(var(--vp-sidebar-width) + 16px) !important;
}

.VPDoc.has-aside .content-container {
  max-width: none !important;
}

/* 自定义响应式 Sidebar Padding 修复 */
@media (min-width: 960px) {
  .VPContent.has-sidebar {
    padding-left: calc(var(--vp-sidebar-width));
  }
  .VPNavBar.has-sidebar .title {
    width: var(--vp-sidebar-width) !important;
  }
  .VPNavBar.has-sidebar .content[data-v-cf6e7c5e] {
    padding-right: 32px !important;
    padding-left: var(--vp-sidebar-width) !important;
  }
}

@media (min-width: 1440px) {
  .VPContent.has-sidebar {
    padding-left: var(--vp-sidebar-width) !important;
  }
  .VPNavBar.has-sidebar .title {
    width: var(--vp-sidebar-width) !important;
  }
  .VPNavBar.has-sidebar .content[data-v-cf6e7c5e] {
    padding-right: 32px !important;
    padding-left: var(--vp-sidebar-width) !important;
  }
}

@media (max-width: 959px) {
  .VPContent.has-sidebar {
    padding-left: 0;
  }
}

.main {
  img {
    margin: auto;
  }
}
